.__github-wiki-categorizer__ {
  position: relative;
  margin-top: 40px;
  padding-top: 41px;
}
.__github-wiki-categorizer__:before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-top: 1px solid #eee;
  content: "";
}

.__github-wiki-categorizer__ dl {
  margin: 0 0 1em;
}
.__github-wiki-categorizer__ dl:last-child {
  margin: 0;
}
.__github-wiki-categorizer__ dt {
  font-weight: bold;
}

.__github-wiki-categorizer__ li {
  display: inline-block;
  margin-right: 0.5em;
}
.__github-wiki-categorizer__ li:after {
  display: inline;
  margin-left: 0.5em;
  content: "|";
}
.__github-wiki-categorizer__ li:last-child:after {
  display: none;
}
